html
    head
        title Admin
    script(src ='https://unpkg.com/react@18/umd/react.production.min.js', crossorigin)
    script(src ='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js', crossorigin)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js')
    script(src='https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.5/antd.min.css', rel='stylesheet')
    link(href='/public/css/admin.css', rel='stylesheet')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/ant-design-icons/4.7.0/index.umd.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.5/antd.min.js')
    
    script(src = '/public/js/admin.js', type='text/babel')
    body
        div#app